<app-power-menu></app-power-menu>
<!--{{ model | json }}-->
<div [hidden]="submitted">
<form (ngSubmit)="onSubmit()" #powerForm="ngForm">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" required [ngModel]="model?.name" (ngModelChange)="model.name = $event" name="name" #name="ngModel">
    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        Name is required
    </div>

    <button type="button" class="btn btn-default" (click)="newPower(); powerForm.reset()">New Power</button>
    <button type="submit" class="btn btn-success" [disabled]="!powerForm.form.valid">Submit</button>
</form>
</div>

<div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">Name</div>
      <div class="col-xs-9">{{ model?.name }}</div>
    </div>
    <br>
    <button class="btn btn-primary" (click)="goBack()">Go Back</button>
  </div>