<app-hero-menu></app-hero-menu>
<!--{{ model | json }}-->
<div [hidden]="submitted">
<form (ngSubmit)="onSubmit()" #heroForm="ngForm">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" required [ngModel]="model?.name" (ngModelChange)="model.name = $event" name="name" #name="ngModel">
    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        Name is required
    </div>

    <div class="form-group">
        <label for="alterEgo">Alter Ego</label>
        <input type="text" class="form-control" id="alterEgo" [ngModel]="model?.alterEgo" (ngModelChange)="model.alterEgo = $event" name="alterEgo">
    </div>

    <div class="form-group">
        <label for="powerId">Hero Power</label>
        <select class="form-control"  [ngModel]="model?.powerId" (ngModelChange)="model.powerId = $event" id="powerId" required name="powerId">
            <option *ngFor="let power of powers" [value]="power.id">{{power.name}}</option>
        </select>
    </div>

    <button type="button" class="btn btn-default" (click)="newHero(); heroForm.reset()">New Hero</button>
    <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>
</form>
</div>

<div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">Name</div>
      <div class="col-xs-9">{{ model?.name }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Alter Ego</div>
      <div class="col-xs-9">{{ model?.alterEgo }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Power</div>
      <div class="col-xs-9" *ngFor="let power of powers">
        <span *ngIf="power.id == model.powerId">
          {{ power.name }}
        </span>
      </div>
    </div>
    <br>
    <button class="btn btn-primary" (click)="goBack()">Go Back</button>
  </div>